html {
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to right, #222831, #393e46, #fd7014);
    color: #333;
}

#calculator {
    width: auto;
    max-width: 400px;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

#display {
    box-sizing: border-box;
    width: calc(100% - 35px);
    margin-bottom: 20px;
    margin-left: 5px;
    padding: 10px;
    background-color: #ebebeb;
    border-radius: 5px;
    text-align: right;
    font-size: 2rem;
    height: 3.25em;
    font-weight: bold;
    color: #333;
}

button {
    width: 20%;
    padding: 15px 0;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: #f0f0f0;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover, button:focus, button:active {
    background-color: #d4d4d4;
    outline: none;
    transform: scale(1.05);
}

button.operation {
    background-color: #fe9241;
    color: #fff;
}

button.operation:hover {
    background-color: #ffab62;
}

button.span-two {
    width: calc(40% + 15px);
}

@media (max-width: 600px) {
    #calculator {
        padding: 10px;
        max-width: 100%;
    }
    button {
        padding: 10px 0;
        font-size: 1rem;
    }
}
